@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Neonderthaw&display=swap');

body {
   background: hsl(246, 30%, 23%);
   
}

#navigation a{
    font-family: 'Moon Dance', cursive;
    font-size: 25px;
    color: rgb(218, 217, 227);
    padding-left: 50px;
    padding-right: 50px;
}
div h1 {
   
    color: rgb(193, 192, 206);
    font-size: 100px;
    margin: center;
    font-family: 'Neonderthaw', cursive;
}
  
#main {
    background-color: hsla(246, 15%, 29%,.45); 
    background-size: 50%;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
}