@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Moon+Dance&family=Neonderthaw&family=Parisienne&display=swap');


body {
   background: hsl(246, 30%, 23%);
   
}

#navigation a{
    font-family: 'Moon Dance', cursive;
    font-size: 25px;
    color: rgb(218, 217, 227);
    padding-left: 50px;
    padding-right: 50px;
}
div h1 {
   
    color: rgb(24, 185, 181 );
    font-size: 100px;
    margin: center;
    font-family: 'Neonderthaw', cursive;
}

h1 {
    padding-left: 75px;
}
  
#main {
    background-color: hsla(246, 15%, 29%,.45); 
    background-size: 50%;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 95px;
    box-shadow: 10px;
}
.float-right{
    float: right;
    border-radius: 50%;
    max-height: 400px;
    max-width: 400px;
    margin-right: 50px;
    margin-top: 50px;
    
}
h2{
    color: rgb(193, 192, 206); 
    opacity: .45; 
    font-size: 60px;
    padding-left: 50px;
    font-family: 'Frank Ruhl Libre', serif;
}
h2 span{
    font-family: "Parisienne" , cursive;
}